[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy-splash = "*"
selenium = "*"
pymysql = "*"
datetime = "*"
scrapyd-client = "*"
scrapyd = "*"
spiderkeeper = "*"
scrapy = "*"

[requires]
python_version = "3.5"
